<div class="well" ng-controller="authCtrl">

    <div class="alert alert-info" ng-hide="authenticationError">
        Aby sie uwierzytelnic, podaj nazwe uzytkownika i haslo, a nastepnie kliknij przycisk Zaloguj.
    </div>
    <div class="alert alert-danger" ng-show="authenticationError">
        Uwierzytelnieni sie nie powiodlo ({{authenticationError.status}}).
        Sprobuj ponownie.
    </div>
    <form name="authForm" novalidate>
        <div class="form-group">
            <label>Nazwa uzytkownika</label>
            <input name="username" class="form-control" ng-model="username" required>
        </div>
        <div class="form-group">
            <label>Haslo</label>
            <input name="haslo" type="password" class="form-control" ng-model="password" required>
        </div>
        <div class="text-center">
            <button ng-click="authenticate(username, password)" ng-disabled="authForm.$invalid" class="btn btn-primary">Zaloguj</button>
        </div>
    </form>
</div>

